/* CSS */
.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .course-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .course-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .course-details {
    padding: 20px;
  }
  
  .course-details h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .course-details p {
    margin-bottom: 8px;
  }
  
  .course-details p strong {
    font-weight: bold;
  }
  
  /* Định dạng cho các nút hoặc các yếu tố khác cần thiết có thể được thêm vào */
  .btn-detail {
    background-color: red; /* Màu nền */
    color: #fff; /* Màu chữ */
    font-weight: bold; /* Đậm */
    border-radius: 0.25rem; /* Bo tròn viền */
    padding: 0.5rem 1rem; /* Khoảng cách bên trong */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
  }

  .btn-detail:hover {
    background-color: rgba(255, 0, 0, 0.7); /* Màu nền khi hover */
  }