@tailwind base;
@tailwind components;
@tailwind utilities;

/* main layout */
body {
    background-color: #fff;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.des_banner {
    font-size: 24px;
    color: #fff;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: 700;
}
.ant-modal-wrap {
    margin: 0;
}
/* Admin.css */
.content-collapsed {
    margin-left: 80px; /* Adjust margin when collapsed */
    transition: margin-left 0.2s; /* Smooth transition */
  }
  
  .content-expanded {
    margin-left: 200px; /* Default margin when expanded */
    transition: margin-left 0.2s; /* Smooth transition */
  }
  